/* ==========================================================================
   #FONTS
   ========================================================================== */

/**
 * All raw file fonts should be included here.
 */
//
//@font-face {
//  font-family: 'Basis Grotesque Pro';
//  font-weight: 300;
//  font-style: normal;
//  src: url('../fonts/BasisGrotesquePro-Light.eot');
//  src: url('../fonts/BasisGrotesquePro-Light.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/BasisGrotesquePro-Light.woff2') format('woff2'),
//    url('../fonts/BasisGrotesquePro-Light.woff') format('woff'),
//    url('../fonts/BasisGrotesquePro-Light.ttf') format('truetype'),
//    url('../fonts/BasisGrotesquePro-Light.svg#BasisGrotesquePro-Light') format('svg');
//}
//
//@font-face {
//  font-family: 'Basis Grotesque Pro';
//  font-weight: normal;
//  font-style: normal;
//  src: url('../fonts/BasisGrotesquePro-Regular.eot');
//  src: url('../fonts/BasisGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/BasisGrotesquePro-Regular.woff2') format('woff2'),
//    url('../fonts/BasisGrotesquePro-Regular.woff') format('woff'),
//    url('../fonts/BasisGrotesquePro-Regular.ttf') format('truetype'),
//    url('../fonts/BasisGrotesquePro-Regular.svg#BasisGrotesquePro-Regular') format('svg');
//}
//
//@font-face {
//  font-family: 'Basis Grotesque Pro';
//  font-weight: bold;
//  font-style: normal;
//  src: url('../fonts/BasisGrotesquePro-Bold.eot');
//  src: url('../fonts/BasisGrotesquePro-Bold.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
//    url('../fonts/BasisGrotesquePro-Bold.woff') format('woff'),
//    url('../fonts/BasisGrotesquePro-Bold.ttf') format('truetype'),
//    url('../fonts/BasisGrotesquePro-Bold.svg#BasisGrotesquePro-Bold') format('svg');
//}
