//@mixin backgroundImage($url) {
//    background-image: url(append-cache-query($url)); // stylelint-disable-line function-url-quotes
//}

@mixin square-w-h($_size) {
  height: $_size;
  width: $_size;
}

/* stylelint-disable value-no-vendor-prefix */

// https://stackoverflow.com/a/26634773
// disabled lint because ordering matters for browser fallback.

@mixin line-clamp($numLines: 1, $lineHeight: 1.412) {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $numLines;
  max-height: $numLines * $lineHeight + unquote('em');
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
}

/* stylelint-enable value-no-vendor-prefix */

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }

  ::-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }
}
